<h1> Rating Details </h1>
<h3>Tenant: <%=@rating.tenant.name %></h3>
<h3>Property: <%=@rating.property.address  %></h3>
<h3>Rating <%=@rating.rating %> Stars</h3>
<h3>Comment: <%=@rating.comment %></h3>
