<h1>All Landlords</h1>
<% @landlords.each do |owner| %>
<ul>
  <li>
    <%= link_to "#{owner.name}", landlord_path(owner) %>
  </li>

  </ul>
<%  end  %>
<%=link_to "Create Landlord" , new_landlord_path %>
