<h1>Landlord Details</h1>
<h3>Name: <%=@landlord.name %></h3>
<h3>Phone Number: <%=@landlord.phone_number %></h3>
<h3>Properties Owned: <%@landlord.properties.each do |p| %><%=p.address %></br><% end %></h3>
